@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
.About-Us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.About-Us-container h1{
    font-size: 100px;
    color: rgb(126, 125, 125);
    display: inline-block;
    width: 50%;
    text-align: center;
    
}
.About-Us-container p{
    color: rgb(179, 177, 177);
    margin-top: 30px;
    text-align: justify;
    display: inline-block;
    width: 70%;
}

@media screen and (max-width: 820px){

}
